Q1. # Key features of Python

- It is used in the data industry
- Consist of lot of libraries
- Easy to read and learn
- Versatility and Extensibility
- Scalable

Q2. Role of predefined keywords

The predefined function have the special meaning and have specific purpose in the python language.

The predefined keywords are "if", "else", "elif", "while", "continue", "break", etc.

In [1]:
a = "Anjali"
type(a)

str

In [2]:
x = 10
if x > 10:
    print("Greater than 10")
elif x < 10:
    print("Less than 10")
else:
    print("Equals to 10")

Equals to 10

In [3]:
c = 1
while c<=10:
    print(c)
    c=c+1

1
2
3
4
5
6
7
8
9
10

Q3. The mutable and the immutable objects

Mutable-> The objects whose state or value can be change changed afetr they are created are called mutable objects.

for example: list, Dictionary, set,etc.

In [4]:
list1 = [1,2,3,4,5,6,7,8,9]
print(list1)
list1[1]=0     #change the value to 0 at the index 1
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 0, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list1 = [1,2,3,"Abc","Ajay"]
print(list1)
list1[4]="Anjali"
print(list1)

[1, 2, 3, 'Abc', 'Ajay']
[1, 2, 3, 'Abc', 'Anjali']

Immutable objects -> The objects whose values cannot be changed after they are created are known as immutable objects.

for example: string, tuples, etc

In [6]:
x = "Abc"
print(x)
x[1]="y"
print(x)

Abc

TypeError: 'str' object does not support item assignment

Q4. Types of operators in Python

Operators are the special keywords that are used to perform the opertion on the values or variables.

Types:

- Arthmetic operators
- Comparision operator
- Logical operator
- Bitwise operator
- Assignment operator
- Membership operator
- Identity operator

In [8]:
# Arthmetic operators

a= int(input("Enter a:"))
b= int(input("Enter b:"))
c= a+b
print("Addition: ",c)
d= a-b
print("Sub: ",d)
e= a*b
print("Multiplication: ",e)
f= a/b
print("Division: ",f)

Enter a: 5
Enter b: 5

Addition:  10
Sub:  0
Multiplication:  25
Division:  1.0

In [9]:
# Comparision operator
a = 5
b = 5
print(a == b)

True

In [10]:
a = 5
b = 5
print(a != b)

False

In [11]:
a = 2
b = 5
print(a < b)

True

In [12]:
# Logical operator
a=15
if((a>10) and (a<20)):
    print("a is between 10 and 20")

a is between 10 and 20

In [15]:
a=10
if((a>=10) or (a<5)):
    print("a is between 10 and 20")

a is between 10 and 20

In [18]:
# Bitwise operator - operations at bit level

print(3|5)

7

In [19]:
print(3&5)

1

In [20]:
print(~3)

-4

In [21]:
# In XOR returns 1 when exactly one operand is 1

print(5^3)

6

In [22]:
bin(5)

'0b101'

In [23]:
bin(3)

'0b11'

In [24]:
bin(6)

'0b110'

In [28]:
# 5^3 = 6        101^011 = 110

In [30]:
# Assignment operator
x = 5
x += 3  # Equivalent to x = x + 3
print(x)

8

In [32]:
# Membership operator

a="ANJALI"
"N" in a

True

In [34]:
a="ANJALI"
"N" not in a

False

In [35]:
# Identity operator

a=3
b=2

a is b

False

In [36]:
a=3
b=2

a is not b

True

Shift operator(>>,<<)

Left shift operator (<<) shifts the bits to the left by specified number of position by filling 0's on the right.

Right shift (>>) operator shifts the bits to the right by specified number of position by filling 0's on the left.

In [37]:
5<<1

10

In [38]:
5>>1

2

Q5. Type casting

The process of changing the data type of a value or an object is knowmn as type casting.

This is important for performing operations that require specific data types or for manipulating data in a compatible format.

In [39]:
a="2"
b=3
c=int(a)+b     #converting string into integer
print(c)

5

In [40]:
a=2
float(a)     #converting into float

2.0

In [41]:
a=2
str(a)

'2'

There are 2 types of type casting:
Implicit - python understands the data type
Explicit - converts the data type using inbuilt function

In [46]:
# Implicit type casting
x = 10       # Integer
y = 3.1     # Float
result = x + y #automatically converts into float
print(result)

13.1

In [47]:
# Explicit type casting

n = "123"
n = int(n)  # converts the string to an integer
print(n)         # Output: 123
print(type(n))

123
<class 'int'>

Q6. Conditional statements

These statements are used code the decisions based on preconditions

There are various types of conditional statements:
if
if else
if elif else
nested if else

In [48]:
A=10

if A>5:
    print("a is greater than 5")

a is greater than 5

In [52]:
# if else
# odd or even number
A=10

if A%2==0:
    print("number is even")
else:
    print("number is odd")

number is even

In [53]:
# if elif else
A=101

if A<100:
    print("Less than 100")
elif A>200:
    print("Greater than 200")
elif A>100:
    print("Greater than 100")
else:
    print("Equals to 100")

Greater than 100

In [56]:
# nested if else
# greater number in a, b, c

a=2
b=3
c=1

if a>b:
    if a>c:
        print("a is greatest")
    else:
        print("c is greatest")
else:
    if b>c:
        print("b is greatest")
    else:
        print("c is greatest")

b is greatest

Q7. Loops in Python

The loops in python are used to execute a block of code repeatedly based on certain conditions. 

While loop -> The while loop repeatedly executes a block of code until the condition is True.

For loop -> The for loop iterates over a sequence and executes a block of code for each item in the sequence.

In [57]:
n=7
i=1

while i<n:
    print(i)
    i=i+1

1
2
3
4
5
6

In [58]:
n=7
i=1

while i<n:
    print(i)
    i=i+1
else:
    print("This will be printed when the while loop has run successfully")

1
2
3
4
5
6
This will be printed when the while loop has run successfully

In [62]:
n=7
i=1

while i<n:
    print(i)
    i=i+1
    if i==5:
        break
else:
    print("While loop has run successfully")

1
2
3
4

In [61]:
n=7
i=1

while i<n:
    i=i+1
    if i==5:
        continue
    print(i)
else:
    print("While loop has run successfully")

2
3
4
6
7
While loop has run successfully

In [63]:
# For loops

for i in "Anjali":
    print(i)

A
n
j
a
l
i

In [64]:
l=["emp","Employee","Anjali","abc"]

for i in l:
    if i=="Anjali":
        continue
    print(i)
else:
    print("Executed without a break statment")

emp
Employee
abc
Executed without a break statment

In [66]:
for i in l:
    if i=="Anjali":
        break
    print(i)
else:
    print("Executed without a break statment")

emp
Employee

In [68]:
row=1
while row<=5:
    col=1
    while col<=5:
        print("*", end=" ")
        col=col+1
    print()
    row=row+1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [70]:
# use case in loops
for i in range(0,11):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10